<%- include('partials/header')%>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>

        <div class="row" id="nav">
            <h3 id="sidename" class="font-effect-fire">VG_ZONE</h3>
            <nav>

                <ul class="mainnav">
                    <li><a href="#"><ion-icon name="home"></ion-icon>Home</a></li>
                    <li><a href="#contact-section">Feedback</a></li>
                   <li><a href="/login" role="button">Login</a></li>
                   <li><a href="/register" role="button">Sign up</a></li>
                </ul>

            </nav>
        </div>


        <div class="welcome">
            <h1 class="font-effect-emboss grace">Welcome to<br>
                <h1 class="font-effect-fire">VG_ZONE</h1>
            </h1>
            <h3 class="font-effect-emboss"><i>Shop our latest video games and Enjoy!!</i></h3>
            <a class="btn btn1" href="#store">Gaming Store</a>
        </div>
    </header>

    <section id="store" data-aos="fade-in" data-aos-duration="2000">
        <div class="row cards">
            <h2 class="st">VG_ZONE STORE</h2>

            <div class="card" style="width: 18rem;">
                <img src="img/eotb2.jpg" class="card-img-top" alt="video game">
                <div class="card-body">
                    <h5 class="card-title">Eye of Beholder 2</h5>
                    <p class="card-text">The Eye of the Beholder trilogy is a series of role-playing video games for
                        computers and video game consoles developed by Westwood Associates.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item price">Rs.300/-</li>
                </ul>
                <div class="card-body">
                    <a href="javascript:alert('LOGIN OR REGISTER FIRST')" class="card-link">Buy Now</a>
                </div>
            </div>



            <div class="card" style="width: 18rem;">
                <img src="img/call.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Call of Duty</h5>
                    <p class="card-text">Crime thriller series games.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item price">Rs.350/-</li>
                </ul>
                <div class="card-body">
                    <a href="javascript:alert('LOGIN OR REGISTER FIRST')" class="card-link">Buy Now</a>
                </div>
            </div>



            <div class="card" style="width: 18rem;">
                <img src="img/castlefall.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Castel Fall</h5>
                    <p class="card-text">Castle Fall includes the series of games in order to save the castle of Dholakpur.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item price">Rs.200/-</li>
                </ul>
                <div class="card-body">
                    <a href="javascript:alert('LOGIN OR REGISTER FIRST')" class="card-link">Buy Now</a>
                </div>
            </div>



            <div class="card" style="width: 18rem;">
                <img src="img/Darkness.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Darkness And Flame</h5>
                    <p class="card-text">Mysterious and Adventurous Series of Darkness And Flame will lead the winner to have the hidden treasure.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item price">Rs.900/-</li>
                </ul>
                <div class="card-body">
                    <a href="javascript:alert('LOGIN OR REGISTER FIRST')" class="card-link">Buy Now</a>
                </div>
            </div>



            <div class="card" style="width: 18rem;">
                <img src="img/dark-souls.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dark Souls 2</h5>
                    <p class="card-text">Leading the first season of Dark Souls, Dark Souls 2 is ready to give more thrill and attacks too.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item price">Rs.1150/-</li>
                </ul>
                <div class="card-body">
                    <a href="javascript:alert('LOGIN OR REGISTER FIRST')" class="card-link">Buy Now</a>
                </div>
            </div>



            <div class="card" style="width: 18rem;">
                <img src="img/goldNblood.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gold N Blood</h5>
                    <p class="card-text">Gold N Blood will provide the series of games to go on gold hunting venture with friends.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item price">Rs.300/-</li>
                </ul>
                <div class="card-body">
                    <a href="javascript:alert('LOGIN OR REGISTER FIRST')" class="card-link">Buy Now</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="img/Hellwomb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hellwomb</h5>
                    <p class="card-text">Hellwomb includes a series of horror games in order to escape the palace Hellwomb.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item price">Rs.800/-</li>
                </ul>
                <div class="card-body">
                    <a href="javascript:alert('LOGIN OR REGISTER FIRST')" class="card-link">Buy Now</a>
                </div>
            </div>

        </div>
    </section>


    <section id="contact-section">
        <div class="row">
            <h2 class="feedback">We want to hear from you</h2>
            <hr>
        </div>
        <div class="row">
            <form action="#" method="POST" class="form-part"  data-aos="flip-right" data-aos-duration="2000">
                <div class="row">
                <div class="col ">
                    <label>Name</label>
                </div>
                <div class="col ">
                    <input type="text" name="name" id="name" placeholder="Enter Name" required> 
                </div>
             </div>

            
                    <div class="row">
                    <div class="col ">
                        <label>Email</label>
                    </div>
                    <div class="col">
                        <input type="email" name="email" id="email"  placeholder="Enter Email" required> 
                    </div>

                 </div>

                 <div class="row">
                    <div class="col">
                        <label>How you came to know us?</label>
                    </div>
                    <div class="col ">
                        <select name="find-us" id="find-us">
                            <option id="friends">Friends</option>
                            <option id="se">Search Engine</option>
                            <option id="ad">Advertisement</option>
                            <option  id="ot">Other</option> 
                            </select>
                    </div>
                 </div>


                 <div class="row">
                    <div class="col">
                        <label>Drop a line</label>
                    </div>
                    <div class="col">
                        <textarea type="textarea" id="ta" rows="10" cols="30"></textarea>
                    </div>
                 </div>


                 <div class="row">
                    <div class="col">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col">
                        <button class="btn btn1">Submit</button>
                    </div>
                 </div>

            </form>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="col">
            <ul class="footer-nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">IOS App</a></li>
                <li><a href="#">Android App</a></li>
            </ul>
            </div>
            <div class="col">
                <ul class="social-links">
                    <li><a href=#><ion-icon class="meta" name="infinite-outline"></ion-icon></a></li>
                    <li><a href=#><ion-icon class="twitter" name="logo-twitter"></ion-icon></a></li>
                    <li><a href=#><ion-icon class="insta" name="logo-instagram"></ion-icon></a></li>
                    <li><a href=#><ion-icon class="google" name="logo-google"></ion-icon></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
           <p> Copyright &copy; 2024 by Akanksha Sinha. All right are reserved.</p>
        </div>
    </footer>

   
    <%- include('partials/footer')%>